{% extends 'base.html' %}
{% block content %}

<h2>🎓 My Courses</h2>

{% for e in enrollments %}
<div class="card">

<h3>{{ e.course.title }}</h3>
<p>👨‍🏫 {{ e.course.teacher.username }}</p>

<a href="/attendance/{{e.course.id}}/">
<button class="btn btn-green">Attendance</button>
</a>

<a href="/assignments/{{e.course.id}}/">
<button class="btn btn-yellow">Assignments</button>
</a>

<a href="/review/{{e.course.id}}/">
<button class="btn">Review</button>
</a>

</div>
{% endfor %}

{% endblock %}